img {
    width: 100px;
    height: 100px;
}

button {
    margin-bottom: 20px;
    margin-top: 20px;

}

body {
    background-color: beige;

}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: lightcoral;
    margin-bottom: 20px;
    margin-left: 25px;

}

p {
    font-weight: bold;
    
}

#instructions {
    color: gray;
    font-weight: lighter;
    font-style: italic;
}